@model AppUser

<form asp-action="AddOrUpdate" asp-controller="AppUser" data-ajax="true" data-ajax-method="POST" data-ajax-update="#detailView" data-ajax-success="sendNotification('success', 'User information been updated');hideModal();" id="userForm" data-ajax-failure="handleModalPostFailure">
    @Html.AntiForgeryToken()
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <input asp-for="SecurityStamp" type="hidden" value="@Model.SecurityStamp" />
    <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
            @(Model == null || string.IsNullOrWhiteSpace(Model.Id) ? "New User" : "Manage User")
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
    </header>
    <main class="modal__content" id="modal-1-content">
        @*<div class="form-group">
            <partial name="_AvatarUpload" />
        </div>*@
        <div class="form-group">
            <label asp-for="NickName" class="control-label">Friendly Name</label>
            <input asp-for="NickName" as class="form-control" />
            <span class="text-danger" asp-validation-for="NickName"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label">User Name</label>
            <input asp-for="UserName" as class="form-control" />
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" as class="form-control" /> @(Model?.EmailConfirmed ?? false ? "<i class='fa fa-check-circle'></i>" : "")
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
            <input asp-for="PhoneNumber" as class="form-control" /> @(Model?.PhoneNumberConfirmed ?? false ? "<i class='fa fa-check-circle'></i>" : "")
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PasswordHash" class="control-label">Password</label>
            <input asp-for="PasswordHash" class="form-control" type="password" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="SendOtpAndLoginFirst" class="custom-control-input" onchange="onCheckChange(this)">
                <span class="custom-control-label" for="chbxTerms">
                    Allow user to login using OTP code sent to email
                </span>
            </label>
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="ChangePasswordOnLogin"  class="custom-control-input" onchange="onCheckChange(this)">
                <span class="custom-control-label" for="chbxTerms">
                    Require to change password on next login attempt
                </span>
            </label>
        </div>


        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="LockoutEnabled" class="custom-control-input" onchange="onCheckChange(this)">
                <span class="custom-control-label" for="chbxTerms">
                    Lock out Status
                </span>
            </label>
        </div>


        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" asp-for="TwoFactorEnabled" class="custom-control-input" onchange="onCheckChange(this)">
                <span class="custom-control-label" for="chbxTerms">
                    Two factor Status
                </span>
            </label>
        </div>

        <small>@Model.Id</small>
        @*<br />
        <small>@Model.Roles?.Count() - @Model.AppUserRoles?.Count</small>*@
        @*<small>@await UserResolverService.GetRolesAsync(Model)</small>*@
        <a class="dropdown-item" data-ajax="true" data-ajax-update=".modal__container" data-ajax-begin="showModal()" asp-action="ViewAccessGrant" asp-route-id="@Model.Id">
            <i class="fa fa-user-shield"></i> View Access Grants
        </a>
    </main>
    <footer class="modal__footer">
        <button type="submit" class="modal__btn modal__btn-primary">Save</button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
    </footer>
</form>
