@model WorkItem

<form asp-action="AddOrUpdateWorkItem" asp-controller="Schedule" data-ajax="true" data-ajax-method="POST"  data-ajax-update=".modal__container" data-ajax-begin="" data-ajax-success="sendNotification('success', 'Work item record was just saved');UpdateSeach()" id="addUpdateConnectionForm" data-ajax-failure="handleModalPostFailure">
    @Html.AntiForgeryToken()
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <header>
        <h2 class="modal__title" id="modal-1-title">
            @if (Model != null || Model.Id > 0)
            {
                <a class="modal__btn modal__btn-back" data-ajax="true" data-ajax-update=".modal__container" data-ajax-begin="showModal()" asp-action="ViewWorkItem" asp-controller="Schedule" asp-route-id="@Model.Id">
                    <i class="fa fa-arrow-left"></i>
                </a>
            }

            @(Model == null || Model.Id <= 0 ? "Create New Work Item" : "Change Work Item")
        </h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
    </header>
    <main class="modal__content" id="modal-1-content">
        <div class="form-group">
            <img src="@Url.Content(Model.Employee.Avatar ?? DefaultPictures.default_user)" height="30" /> @Model.Employee.Name
        </div>
        <div class="form-group">
            @Model.WorkName
            <br />
            @if (Model.IsEmployeeTask)
            {
                <span><i class="fa fa-user"></i> User Task</span>
            }
            else
            {
                <span class="text-success"><i class="ion ion-arrow-up-c"></i> @(Model.TotalApproved)</span>
                <span class="text-danger"> &middot; <i class="ion ion-arrow-down-c"></i> @(Model.RemainingSubmissions)</span>
                <span class="text-dark"> &middot; <i class=""></i> @(Model.TotalSubmitted)</span>
            }
        </div>
        <div class="form-group">
            <label asp-for="Date" class="control-label"></label>
            <small>@Model.Date.ToLongDateString()</small>
            @*<br />
            <small>LateMins: @Model.TotalLateMins - EarlyMins: @Model.TotalEarlyMins</small>*@
        </div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="WorkStartTime" class="control-label"></label>
                <input type="text" asp-for="WorkStartTime" class="form-control has-datetimepicker" value="@Model.WorkStartTime.ToString("dd-MMM-yyyy HH:mm")" />
                <span class="text-danger" asp-validation-for="WorkStartTime"></span>
            </div>

            <div class="form-group col">
                <label asp-for="WorkEndTime" class="control-label"></label>
                <input type="text" asp-for="WorkEndTime" class="form-control has-datetimepicker" value="@Model.WorkEndTime.ToString("dd-MMM-yyyy HH:mm")" />
                <span class="text-danger" asp-validation-for="WorkEndTime"></span>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="form-group col">
                <label asp-for="CheckInTime" class="control-label"></label>
                <input type="text" asp-for="CheckInTime" class="form-control has-timepicker" value="@Model.CheckInTime?.TimeOfDay" />
                <span asp-validation-for="CheckInTime" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label asp-for="CheckOutTime" class="control-label"></label>
                <input type="text" asp-for="CheckOutTime" class="form-control has-timepicker" value="@Model.CheckOutTime?.TimeOfDay" />
                <span asp-validation-for="CheckOutTime" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="Date" class="control-label"></label>
                <input type="text" asp-for="Date" class="form-control has-datepicker" value="@Model.Date.ToString("dd-MMM-yyyy")" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group col">
                <label asp-for="DueDate" class="control-label"></label>
                <input type="text" asp-for="DueDate" class="form-control has-datetimepicker" value="@Model.Date.ToString("dd-MMM-yyyy HH:mm")" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
        </div>
    </main>
    <footer class="modal__footer">
        <button type="submit" class="modal__btn modal__btn-primary">Save</button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        @*@if (Model != null && Model.Id > 0)
        {
            <a class="modal__btn modal__btn-danger float-right" asp-action="Remove" asp-route-id="@Model.Id" data-ajax-method="POST" data-ajax="true" data-ajax-failure="handleModalPostFailure" data-ajax-success="sendNotification('success', '@Model.CompanyWorkType.ToString() from @Model.Duration was just removed');hideModal();$('div.item-@Model.Id').hide()" data-ajax-confirm="Are you sure you want to remove this @Model.CompanyWorkType.ToString() from @Model.Duration" data-ajax-begin="convertToLoadingTable('#tblMasterPayAdjustments')">Remove</a>
        }*@
    </footer>
</form>


<script>
    
    $(".has-datepicker").flatpickr({
        dateFormat: "j-M-Y"
    });
    
    $(".has-timepicker").flatpickr({
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true
    });


    $(".has-datetimepicker").flatpickr({
        enableTime: true,
        dateFormat: "j-M-Y H:i",
        time_24hr: true
    });
</script>