@model List<WeeklyEmployeeShiftVm>
@{ 
    DayOfWeek weekStartDay = (DayOfWeek)ViewBag.WeekStartDay;
}

<div class="row">
    <div class="col-md-4">
        <div class="form-group" style="position:relative; top: -20px;">
            @*<select asp-items="@(ViewBag.MemberId)" name="EmployeeId" id="MemberId" class="form-control-sm float-left" onchange="$(this).next().attr('href', GetAppRootPath() + '/Schedule/Index?empId=' + $(this).val());$(this).next().click()"></select>*@

            <a data-ajax-begin="convertToLoadingTable('.table-schedule')" asp-route-empId="" data-ajax="true" data-ajax-update="#weekly-schedule" data-ajax-success="UpdateSeach()" class="btn-sm btn btn-outline-secondary border-right-0" style="display:none"><i class="ion ion-arrow-left-c"></i></a>
            <br />
            <div class="form-group has-search mb-1">
                <span class="form-control-feedback"><i class="fad fa-search"></i></span>
                <input type="text" class="txt-search form-control txt-search-weekly" name="query" placeholder="Search for attendance...">
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a asp-action="Index" data-ajax-begin="convertToLoadingTable('.table-schedule')" asp-route-date="@(((DateTime)ViewBag.WeekStart).AddDays(-1))" data-ajax="true" data-ajax-update="#weekly-schedule" data-ajax-success="InitTab_MemberSchedules()" class="btn-sm btn btn-outline-secondary border-right-0"><i class="ion ion-arrow-left-c"></i></a>
                <button type="button"  id="datefilter"  class="btn-sm btn btn-outline-secondary border-left-0 border-right-0">@ViewBag.CurrentRangeDisplay</button>
                <a asp-action="Index" data-ajax-begin="convertToLoadingTable('.table-schedule')" asp-route-date="@(((DateTime)ViewBag.WeekEnd).AddDays(1))" data-ajax="true" data-ajax-update="#weekly-schedule" data-ajax-success="InitTab_MemberSchedules()" class="btn-sm btn btn-outline-secondary border-left-0"><i class="ion ion-arrow-right-c"></i></a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <a asp-action="Schedules" data-ajax-method="GET" data-ajax="true" data-ajax-update="#weekly-schedule-table-container" data-ajax-begin="convertToLoadingTable('.table-schedule')" data-ajax-failure="HandleModalPostFailure" class="btn-sm btn btn-outline-warning"><i class="ion ion-levels"></i></a>
                @*<button type="button" class="btn-sm btn btn-outline-warning"><i class="ion ion-levels"></i></button>*@
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <a class="btn btn-sm btn-primary" asp-action="SelectDates" data-ajax-method="GET" data-ajax="true" data-ajax-update=".modal__container" data-ajax-begin="showModal()" data-ajax-failure="HandleModalPostFailure"><i class="fad fa-plus-circle"></i> Add Work Schedule</a>
                @*<button type="button" class="btn btn-sm btn-primary"></button>*@
            </div>
        </div>
    </div>
</div>

@*<h2>@((DateTime)ViewBag.WeekStart)</h2>*@

<div class="" id="weekly-schedule-table-container">

    <table class="table table-schedule" id="weekly-table11">
        @if (Model == null || Model.Any() == false)
    {
            <tbody>
                <tr>
                    <td colspan="8">
                        <div class="p-5 text-center" style="width:100%">
                            <p class="text-lead mt-5">No schedules were found for the week @ViewBag.CurrentRangeDisplay</p>
                            <a class="btn btn-primary" asp-action="SelectDates" data-ajax-method="GET" data-ajax="true" data-ajax-update=".modal__container" data-ajax-begin="showModal()" data-ajax-failure="HandleModalPostFailure"><i class="ion ion-plus"></i> Add Schedule</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        }
        else
        {
            <thead>
                <tr id="">
                    <td class="text-left sticky-col first-col" style="    z-index: 1">
                        <b>Employee(s)</b>
                        <br />


                        <div style="display:flex">
                            <small>Show unscheduled  &nbsp;</small>

                            <div class="switch_box box_1">
                                <input type="checkbox" class="switch_1 switch-schedule" value="@ViewBag.showUnScheduled" @(ViewBag.showUnScheduled ? "checked" : "")>
                            </div>
                        </div>

                    </td>
                    @for (var start = (DateTime)ViewBag.WeekStart; start < (DateTime)ViewBag.WeekEnd; start = start.AddDays(1))
                    {

                        <td class="@(start.Date == DateTime.Now.Date ? "active" : "") @(start.DayOfWeek == weekStartDay ? "prova": "")" data-ribbon=" @(start.DayOfWeek == weekStartDay ? "★": "")" >
                            <div class="text-left font-weight-bold row" style=" vertical-align: middle">
                                @*<img src="/img/default-image.png" height="40" class="mt-1 pr-2">*@

                                @*@if (start.DayOfWeek == weekStartDay)
                                {
                                    <div class="badge badge-danger">Week</div>
                                }*@
                                <h2 class="col mt-1 pr-2 text-right">@start.Day</h2>
                                <div class="col name-display pt-1 pl-1">
                                    <span class="">@start.ToString("ddd").ToUpper()</span>
                                    <br>
                                    <small style="position: relative;top: -4px;">@start.ToString("MMM").ToString()</small>
                                </div>
                            </div>
                        </td>
                        @*<td class="@(start.Date == DateTime.Now.Date ? "active" : "")">
                            <div class="row">
                                @if (start.DayOfWeek == weekStartDay)
                                {
                                    <div class="badge">Week</div>
                                }
                                <div class="col pl-2 text-right">
                                    <h2>@start.Day</h2>
                                </div>
                                <div class="col text-left pl-0">
                                    <small>@start.ToString("ddd").ToUpper()</small>
                                    <div class="clearfix"></div>
                                    <small class="text-muted">@start.ToString("MMM").ToString()</small>
                                </div>
                            </div>
                        </td>*@
                    }
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td class="text-left font-weight-bold sticky-col first-col" style=" vertical-align: middle;display:flex">
                        <div class="image-container">
                            <a asp-controller="Employee" asp-action="Detail" asp-route-id="@item.Employee.Id">
                                <img src="@Url.Content(item.Employee.Avatar ?? DefaultPictures.default_user)" height="35" class="mt-1 mr-2 rounded-circle" />
                            </a>
                        </div>
                        <a asp-controller="Employee" asp-action="Detail" asp-route-id="@item.Employee.Id">
                            <div class="name-display pt-1">
                                <span class="">@item.Employee.EmpID &sim; @item.Employee.GetSystemName(User)</span>
                                <br>
                                <small class="text-dark" style="position: relative;top: -4px;">@item.Employee.JobTitle &middot; @item.Employee.Department.Name</small>
                            </div>
                        </a>
                    </td>

                    @*@item.Attendances.Count*@
                    @for (var start = (DateTime)ViewBag.WeekStart; start < (DateTime)ViewBag.WeekEnd; start = start.AddDays(1))
                    {
                        <td class="text-left cell-attndance">
                            @if (item.Attendances.Any(x => x.Date.Date == start.Date))
                            {
                                foreach (var attn in @item.Attendances.Where(x => x.Date.Date == start.Date))
                                {
                                    <div class="item item-@attn.Id @attn.ShiftColor @(attn.IsOvertime ? "overtime" : "") @(start >= DateTime.Now.Date ? "active" : "")" onclick="$(this).next().click()">
                                        <small>
                                            <span>
                                                @if (attn.IsOvertime)
                                                {
                                                    <i class="fa fa-hourglass-start"></i>
                                                }
                                                @(attn.IsOvertime ? "Overtime" : @attn.ShiftName)
                                                &nbsp;&nbsp;
                                                @Html.Raw(attn.CurrentStatus != AttendanceStatus.Created ? @attn.StatusString : "")
                                            </span>
                                            @*@item.Attendances.First(x => x.Date == start.Date).CompanyWorkType*@
                                            <br />
                                            @attn.Duration
                                        </small>
                                    </div>
                                    <a asp-action="ViewAttendance" asp-controller="Schedule" asp-route-id="@attn.Id" data-ajax="true" data-ajax-update=".modal__container" data-ajax-begin="showModal()" aria-label="Change attendance record" role="tooltip" data-microtip-position="top" class="hide" style="display:none">
                                        XX
                                    </a>
                                }
                                //var attn = @item.Attendances.First(x => x.Date == start.Date);

                            }
                            else
                            {
                                <div class="item empty" onclick="$(this).next().click()">
                                    <small>
                                        Off
                                        <br />
                                        <span>&nbsp;</span>
                                    </small>
                                </div>
                                <a class="text-muted" asp-action="AddOrUpdateSchedule" asp-route-empId="@item.Employee.Id" asp-route-start="@start" asp-route-end="@start.AddDays(1)"  data-ajax-method="GET" data-ajax="true" data-ajax-update=".modal__container" data-ajax-begin="showModal()" data-ajax-failure="HandleModalPostFailure" style="display:none"><i class="ion ion-plus"></i> Add </a>
                            }
                        </td>
                    }
                </tr>
                }
            </tbody>
        }
    </table>


</div>

@*Loader*@
<div class="text-center">

    <div class="loader btn btn-primary btn-loading" data-page="2" style="line-height: 1px;display:none">
        <div class="ball-beat"><div></div><div></div><div></div></div>
    </div>
</div>

@section scripts{

    <script>

    </script>
}

@*<script>
        $('#MemberId').select2({
            ////width:'300px'
            //placeholder: "Choose days to exclude",
        });
    </script>*@