@model List<AuditLog>
@{
    ViewData["Title"] = "Audit Trail";
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="row">
    <div class="col-md-4">
        <div class="text-lg-left">
            <h4 class="display">Audit Trail</h4>
            <p>Total @ViewBag.Count Audit record(s)</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="filters float-right">
            <form asp-action="Index" style="display: inline-flex;" id="rosterFilterForm" method="GET">
                <input type="hidden" name="start" id="start" value="@ViewBag.Start" />
                <input type="hidden" name="end" id="end" value="@ViewBag.End" />
                <div class="form-group">
                    <label class="control-label text-muted">During</label>
                    <input id="datefilter" class="form-control form-control-sm" value="@ViewBag.CurrentRangeDisplay" />
                </div>
                <div class="form-group ml-2">
                    <label class="control-label text-muted">Entity Name</label>
                    <select name="modal" id="modal" class="form-control form-control-sm" asp-items="ViewBag.Modals">
                        <option value="0">None</option>
                    </select>
                </div>
                <div class="form-group ml-2 "style="width:">
                    <label class="control-label text-muted">Key ID</label>
                    <input name="keyId" id="keyId" class="form-control form-control-sm" value="@ViewBag.KeyId"  />
                </div>
                <div class="form-group ml-2">
                    <label class="control-label text-muted">Limit</label>
                    <select name="limit" id="limit" class="form-control form-control-sm" onchange="submitFIlterForm()">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="form-group ml-2">
                    <label class="control-label text-muted">By User</label>
                    <input name="user" id="user" class="form-control form-control-sm" />
                </div>
                <div class="form-group ml-2">
                    <label class="control-label text-muted">Search</label>
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fad fa-filter"></i> Filter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="data-container-table">
    <partial name="_Listing" model="@Model" />
</div>

@section scripts{

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        var limit = '@ViewBag.limit';
        if (limit)
        $('#limit').val(limit);

        var empId = '@ViewBag.empId';
        if (empId)
        $('#empId').val(empId);

        var sort = '@ViewBag.sort';
        if (sort)
        $('#sort').val(sort);

        var type = '@ViewBag.type';
        if (type)
        $('#type').val(type);

        function submitFIlterForm() { $('#rosterFilterForm').submit() }

        $('input[name="date"]').on('apply.daterangepicker', function (ev, picker) {
            submitFIlterForm();
        });

        $('#datefilter').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            },
            opens: 'bottom',

            ranges: {
                'This Week': [moment().startOf('week'), moment().endOf('week')],
                'Last Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        });


        $('#datefilter').on('apply.daterangepicker', function (ev, picker) {
            console.log(picker);

            var date = picker.startDate.format('MM/DD/YYYY HH:mm:ss');
            var end = picker.endDate.format('MM/DD/YYYY HH:mm:ss');
            var url = GetAppRootPath() + '/Schedule?date=' + date + '&end=' + end;
            $('#start').val(date);
            $('#end').val(end);

            $(this).val(getDuration(picker.startDate, picker.endDate));

        });
    </script>
}