@model List<BiometricRecord>

<style>
  /*  table#tableEmplTimeSheet table {
        border-collapse: collapse;
    }

    table#tableEmplTimeSheet td {
        border-top: 2px solid #FFF;
    }

    table#tableEmplTimeSheet tr:hover td {
        border-top: 2px solid #999;
        border-bottom: 2px solid #999;
    }*/
/*
    table#tableEmplTimeSheet tr.top:hover td,
    table#tableEmplTimeSheet tr.bottom:hover td {
        border-color: #808080;
        border-style: solid;
    }*/
/*
    .tableEmpAtt tr.top td {
        border-top: thin solid #eaeaea;
    }

    .tableEmpAtt tr.bottom td {
        border-bottom: thin solid #eaeaea;
    }

    .tableEmpAtt tr.tr td:first-child {
        border-left: thin solid #eaeaea;
    }

    .tableEmpAtt:not(.table-borderless) tr.tr td:last-child {
        border-right: thin solid #eaeaea;
    }*/

</style>
<table class="table table-borderless" id="tablebio">
    <tbody>
        <tr>
            <th class="pb-0 pt-0"><small class="text-muted">Time  <span><i class="fal fa-chevron-down ml-1 mr-1"></i></span></small></th>
            <th class="pb-0 pt-0"><small class="text-muted">Type</small></th>
            <th class="pb-0 pt-0"><small class="text-muted">Break</small></th>
            <th class="pb-0 pt-0"><small class="text-muted">Comments</small></th>
            <th class="pb-0 pt-0"><small class="text-muted"></small></th>
        </tr>
    </tbody>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr class="">
                <td class="border-0">
                    <span>@Model[i].DateTime.ToSystemFormat(User, onlyTime: true)</span>
                    <span><i class="fal fa-long-arrow-right ml-1 mr-1"></i></span>
                    @if (i + 1 < Model.Count())
                    {
                        <span>@Model[i + 1].DateTime.ToSystemFormat(User, onlyTime: true)</span>

                        <span class="ml-2 f5 badge badge-outline-info">@((Model[i + 1].DateTime - Model[i].DateTime).TotalHours.GetHourMinString()) </span>
                    }
                </td>
                <td class="border-0">

                    <small class="text-muted">@Model[i].BiometricRecordState.GetDisplayName()</small>


                    <span><i class="fal fa-long-arrow-right ml-1 mr-1"></i></span>
                    @if (i + 1 < Model.Count())
                    {
                        <small class="text-muted">@Model[i + 1].BiometricRecordState.GetDisplayName()</small>
                    }
                </td>
                <td class="border-0">
                    @if (i + 1 == Model.Count - 1)
                    {
                        <span class="badge badge-outline-secondary">@((Model[i].Location))</span>
                        <span class="badge badge-outline-secondary">@((Model[i].Attendance.TotalBreakHours).GetHourMinString()) </span>
                    }
                </td>
                <td class="border-0"></td>
                <td class="border-0"></td>
            </tr>

            i++;
        }
    </tbody>
</table>